<po-page-default p-title="Tópicos avançados de engenharia de software"> 
  <po-tabs>
    <po-tab p-label="Métricas">
      <po-divider p-label="Volume mínimo do algoritmo"></po-divider>
      <po-number [(ngModel)]="operadores" name="number1" p-label="Número de operadores distintos que aparecem em um programa"> </po-number>
      <po-number [(ngModel)]="operandos" name="number2" p-label="Número de operandos distintos que aparecem em um programa"> </po-number>
      <po-number [(ngModel)]="totalOperadores" name="number3" p-label="Número total de ocorrências de operadores"> </po-number>
      <!--
    
      -->
      <po-button p-label="Calcular volume mínimo do algoritmo" (p-click)="calculaVolumeMinimoDoAlgoritmo(operadores, operandos, totalOperadores)"> </po-button>
      <br> <br>
    
    
      <po-divider p-label="Volume do programa"></po-divider>
      <po-number [(ngModel)]="operadores" name="number3" p-label="Número de operadores distintos que aparecem em um programa"> </po-number>
      <po-number [(ngModel)]="operandos" name="number4" p-label="Número de operandos distintos que aparecem em um programa"> </po-number>
    
      <po-button p-label="Calcular volume do programa" (p-click)="calculaVolumePrograma(operadores, operandos)"> </po-button>
    
      <br> <br>
    
      <po-divider p-label="SMI"></po-divider>
      <po-number [(ngModel)]="mt" name="number5" p-label="Número de módulos na versão atual"> </po-number>
      <po-number [(ngModel)]="fc" name="number6" p-label="Número de módulos na versão atual que foram alterados"> </po-number>
      <po-number [(ngModel)]="fd" name="number7" p-label="Número de módulos na versão anterior que foram excluídos na versão atual"> </po-number>
      <po-number [(ngModel)]="fa" name="number8" p-label="Número de módulos na versão atual que foram acrescentados"> </po-number>
    
      <po-button p-label="Calcular SMI" (p-click)="calculaSMI(mt, fc, fd, fa)"> </po-button>
    
      <br> <br>
    
      <po-divider p-label="Integridade"></po-divider>
    
      <po-number [(ngModel)]="ameaca" name="number9" p-label="Ameaça"> </po-number>
      <po-number [(ngModel)]="seguranca" name="number10" p-label="Seguranca"> </po-number>
    
      <po-button p-label="Calcular integridade" (p-click)="calculaIntegridade(ameaca, seguranca)"> </po-button>
    
    </po-tab>
    <po-tab p-label="LOC">
      <po-input [(ngModel)]="username" p-label="Username"></po-input>
      <po-input [(ngModel)]="repository" p-label="Repositório"></po-input>

      <po-button p-label="Ver dados do repositórios" (p-click)="locApi(username, repository)"> </po-button>
      <po-info p-label="Linguagem" [p-value]="this.linguagem"></po-info>
      <po-info p-label="Número de linhas de código" [p-value]="this.linhas"></po-info>
      <po-info p-label="Número de linhas brancas" [p-value]="this.linhasBrancas"></po-info>
      <po-info p-label="Número de linhas comentadas" [p-value]="this.linhasComentadas"></po-info>
      <po-info p-label="Número de arquivos" [p-value]="this.arquivos"></po-info>
      
    </po-tab>
  </po-tabs>
  </po-page-default>

